.ava {
    display: flex;
    width: 102px;
    height: 102px;
    padding: 11.372px 8.033px 0px 14.535px;
    border-radius: 127.5px;
    background: #000;
    box-shadow: 5.099999904632568px 5.099999904632568px 0px 0px #F5F300;
}
