.logo {
    display: inline-block;
    position: relative;

    &__img {
        position: relative;
        width: 100%;
        height: 100%;
        top: -10px;
    }

    .ball {
        position: absolute;
        top: -50%;
        left: -50%;
        z-index: 0;
        width: 50%;
        height: 50%;
        border-radius: 50%;
        filter: blur(0.5rem);
        animation:
            moveAndShrink 8s ease-in-out infinite alternate,
            randomMove 6s infinite,
            resize 4s alternate infinite;
    }

    .ball:nth-child(1) {
        background-color: rgb(222, 206, 255);
        animation-delay: -6s;
    }

    .ball:nth-child(2) {
        background-color: #ef8;
    }

    @keyframes moveAndShrink {
        0%,
        100% {
            transform: translate(0, 0) scale(1);
        }
        50% {
            transform: translate(50%, 50%) scale(0.5);
        }
    }

    @keyframes randomMove {
        0%,
        100% {
            transform: translate(50%, 50%);
        }
        25% {
            transform: translate(70%, 90%);
        }
        50% {
            transform: translate(50%, 80%);
        }
        75% {
            transform: translate(80%, 40%);
        }
    }

    @keyframes resize {
        0%,
        100% {
            width: 50%;
            height: 50%;
        }
        50% {
            width: 100%;
            height: 100%;
        }
    }
}
